.theme-toggle {
  width: 52px;
  height: 52px;
  padding: 0;
  overflow: hidden;
}

.theme-icons {
  display: grid;
  gap: 34px;
  transform: translateY(26px);
  transition: transform 0.6s var(--ease-spring);
}
.theme-icons[data-dark='true'] {
  transform: translateY(-26px);
}
.theme-icons svg:first-child {
  color: var(--accent);
}
